.menu{
    display: flex;
    justify-content: space-around;
}

.photo_and_name{
    display: flex;
}

.name{
    text-align: center;
}

.Titol_about_me{
    margin-right: auto;
    width: 50%;
}

.about_me {
    display: flex;
    justify-content: space-around; 
}

.photo {
    margin-left: 0 auto;
    border-radius: 10rem;
    width: 200px; 
    height: 200px; 
}

.about_me_content {
    display: flex;
    width: 60%;
}

.texte{
    margin-left: 22rem;
    text-align: right;
}

.caixes_projectes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card { 
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%; /* Ajusta el ancho de la caja */
    height: auto; /* Deja la altura como "auto" para que se adapte a su contenido */
    display: flex;
    flex-direction: column;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Ajusta el tamaño de las imágenes dentro de las cajas */
.card img {
    width: 100%;
    max-height: 70vh; /* Establece una altura máxima relativa al tamaño de la pantalla */
    object-fit: contain; /* Ajusta el tamaño de la imagen manteniendo su relación de aspecto sin recortar */
}

/* Ajusta el espacio dentro de la caja */
.container {
    padding: 2px 16px;
}

/* Ajusta el tamaño del texto */
.container h4, .container p {
    font-size: 16px; /* Cambia el tamaño del texto según tus preferencias */
}

.caixes_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card4,
.card5,
.card6 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%; /* Ajusta el ancho de la caja */
    height: auto; /* Deja la altura como "auto" para que se adapte a su contenido */
    display: flex;
    flex-direction: column;
}

/* On mouse-over, add a deeper shadow */
.card4:hover,
.card5:hover,
.card6:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Ajusta el tamaño de las imágenes dentro de las cajas */
.Logo_java,
.Logo_html,
.Logo_css {
    width: 100%;
    max-height: 70vh; /* Establece una altura máxima relativa al tamaño de la pantalla */
    object-fit: contain; /* Ajusta el tamaño de la imagen manteniendo su relación de aspecto sin recortar */
}

/* Ajusta el espacio dentro de la caja */
.container {
    padding: 2px 16px;
    margin-top: auto;
}

/* Ajusta el tamaño del texto */
.container h4, .container p {
    font-size: 16px; /* Cambia el tamaño del texto según tus preferencias */
}
