* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
} /* Treure els bordes i ficar lletra tipo lato */

body {
    background-color: #F7F2E9;
}

.bg-light {
    background-color: #D99830;
}

.bg-dark {
    background-color:#C9BB9F ;    
}

.default-section { /* Titul de les seccions */
    padding: 32px 64px;
    min-height: 450px;
}

.section-title{ /* Tituls de les seccions */
    margin-bottom: 16px;
}

.map{
    width: 100%;
}

.photo_and_name {
    display: flex;
}

.name { /* el nom en gran */
    text-align: center;
}

.photo { /* la foto del sallenet */
    border-radius: 50%;
    margin-left: 0;
    width: 250px;
}

.about_me_content {
    display: flex;
    align-items: center;

    @media (max-width: 992px) { /* fa de if, si la pantalla te menys de 992 pixels fique el contingut en columna */
        flex-direction: column;
    }
}

.texte { /* la descripcio del about me */
    margin-left: auto;
    text-align: end;
}

.texte_contact_me{
    margin-left: auto;
    text-align: end;
}

.caixes_projectes {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* els hi done espai igual entre elles */

    @media (max-width: 769px) {
        flex-direction: column;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    /* Ajusta el ancho de la caja */
    height: 30%;
    height: auto;
    /* Deja la altura como "auto" para que se adapte a su contenido */
    display: flex;
    flex-direction: column;

    @media (max-width: 769px) {
        width: 100%;
    }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Ajusta el tamaño de las imágenes dentro de las cajas */
.card img {
    width: 50%;
    max-height: 40vh;
    /* Establece una altura máxima relativa al tamaño de la pantalla */
    object-fit: contain;
    /* Ajusta el tamaño de la imagen manteniendo su relación de aspecto sin recortar */
}

/* Ajusta el espacio dentro de la caja */
.container {
    padding: 2px 16px;
}

/* Ajusta el tamaño del texto */
.container h4,
.container p {
    font-size: 16px;
    /* Cambia el tamaño del texto según tus preferencias */
}

.caixes_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 576px) {
        flex-direction: column;
    }
}

/* Ajusta el espacio dentro de la caja */
.container {
    padding: 2px 16px;
    margin-top: auto;
}

/* Ajusta el tamaño del texto */
.container h4,
.container p {
    font-size: 16px;
    /* Cambia el tamaño del texto según tus preferencias */
    text-align: center;
}

footer { /* lo del copy */
    background-color: gray;
    color: black; /* color de la lletra */ 
    text-align: center;
    padding: 10px;
}

.flex-container { /* per al nom i el menu */
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
}

.contact_me_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
            flex-direction: column;
    }
}

.contact_me_content-map {
    flex: 1 1 50%; /* el primer numero es un flex grow, si necessite ferse mes gran es podra fer mes gran, el segon numero es un flex-shrink, fa lo mateix pero en petit, i el 50 % 
    fa que inicialment la imatge ocupi un 50 % */
}

.contact_me_content-text {
    flex: 1 1 50%;
}

@media (max-width: 992px) { /* Si la pantalla fa menys de 992 de pixels fique la pagina en columna */ 
    .flex-container {
        flex-direction: column;
    }
}